{{ template "header.html" }}

<div class="album py-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card-body">
                    <p class="card-text">
                        //tinha mais coisa aqui
                        <h4>Titulo do video</h4>
                        <p>Descrição do video</p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{{ template "footer.html" }}